body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 84px;
}

.main-page {
  background-color: #f3f5fc;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.content-left {
  width: 680px;
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
}

.text-input {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0a3871;
  resize: none;
  flex: 1;
}

.text-input::placeholder {
  color: #0a3871;
}

.text-input:focus {
  outline: none;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-wrapper img {
  margin-right: 8px;
  height: 16px;
}

.warning-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #495057;
  margin: 0;
}
.button-container {
  display: flex;
  gap: 24px;
}

.button-blue {
  background-color: #0a3871;
  color: white;
  border-radius: 24px;
  padding: 24px 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.button-blue:hover {
  background-color: #114d98;
}

.button-blue:active {
  background-color: #072c5a;
}

.button-grey {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  padding: 24px 0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.button-grey:hover {
  background-color: #dde4ee;
}

.button-grey:active {
  background-color: #b8c1cd;
}

.content-right {
  width: 400px;
  background-color: white;
  margin-left: 80px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.placeholder-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #343a40;
  margin: 32px 0 16px;
}

.placeholder-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #495057;
  text-align: center;
  margin: 0;
}

.resultado-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.resultado-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #495057;
}

.button-copy {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  padding: 24px 0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}

.button-copy:hover {
  background-color: #dde4ee;
}

.button-copy:active {
  background-color: #b8c1cd;
}

.hidden {
  display: none;
}

.footer {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-size: 12px;
  color: #495057;
}

@media (max-width: 1024px) {
  .header {
    padding: 73px 40px;
    background-color: #f3f5fc;
  }

  .main-page {
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 60px;
  }

  .content-left {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 64px;
    flex: 1;
  }

  .text-input {
    min-height: 500px;
  }

  .content-right {
    width: 100%;
    margin-left: 0;
  }

  .placeholder-title {
    margin-top: 0;
  }

  .img-placeholder {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 24px 16px;
  }

  .main-page {
    padding: 16px 16px 60px;
  }

  .content-left {
    width: 100%;
    padding-top: 120px;
  }

  .text-input {
    min-height: 300px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }
}
